root = true

[*]
indent_style = space
end_of_line = lf

[*.{csproj, props}]
indent_size = 2

[*.cs]
file_header_template=\r\nCopyright (C) 2013-2021 getMaNGOS <https://getmangos.eu>\r\n\r\nThis program is free software. You can redistribute it and/or modify\r\nit under the terms of the GNU General Public License as published by\r\nthe Free Software Foundation. either version 2 of the License, or\r\n(at your option) any later version.\r\n\r\nThis program is distributed in the hope that it will be useful,\r\nbut WITHOUT ANY WARRANTY. Without even the implied warranty of\r\nMERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the\r\nGNU General Public License for more details.\r\n\r\nYou should have received a copy of the GNU General Public License\r\nalong with this program. If not, write to the Free Software\r\nFoundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA\r\n
indent_size = 4
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true